{% extends "::base.html.twig" %}



{% block body %}
<div class="container">
    <div class="row ">
        <div class="box">

            <hr>
            <h2 class="intro-text text-center">Contact
                <strong>form</strong>
            </h2>
            <hr>
            <form class="justify-content-center">

                    <div class="row ">
                        <div class="form-group col-lg-4 ">
                            <label>Email Address</label>
                            <input type="email" class="form-control">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-4">
                            <label>Password</label>
                            <input type="password" class="form-control">
                        </div>
                    </div>


                        <button type="submit" class="btn btn-default">Submit</button>


            </form>
            <div class=" col-4">
                <a href="{{ path('check_in') }}" class="badge badge-light">Creat your profile.</a>
            </div>

        </div>
    </div>
</div>
{% endblock %}
