{% extends "::base.html.twig" %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="box">
                <hr>
                <h2 class="intro-text text-center">Contact
                    <strong>form</strong>
                </h2>
                <hr>
            <form role="form">

                <div class="row ">
                    <div class="form-group col-m d-4">
                        <label>Title</label>
                        <input type="text" class="form-control">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-lg-4">
                        <label>Author</label>
                        <input type="text" class="form-control">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-lg-8">
                        <label>Blog</label>
                        <textarea class="form-control" rows="6"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-lg-4">
                        <label>Image</label>
                        <input type="text" class="form-control">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-lg-4">
                        <label>Tags</label>
                        <input type="text" class="form-control">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-lg-4">
                        <label>Created</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

    {% endblock %}
